.form-group label {
  padding: 20px 0 10px;
  font-weight: 600;
}
.login {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  width: 410px;
  border-radius: 10px;

  margin: auto;
  padding: 40px 55px 45px 55px;
  transition: all 0.3s;
}
.login .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.login h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password p {
  text-align: center;
  font-size: 13px;
  padding-top: 16px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password p {
  color: #167bff;
  padding-left: 5px;
}
.LButton {
  color: white;
  padding: 10px 120px;
  border: none;
  border-radius: 5px;
  background-color: rgb(2, 184, 47);
  margin-top: 10px;
}
.LButton:hover {
  background-color: rgb(2, 192, 11);
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.hrs {
  width: 80px;
  text-align: center;
  margin: -4px 110px;
  background-color: rgb(38, 206, 5);

  padding: 1.3px;
}
